* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  background-color: rgb(244, 255, 244);
  color: rgb(100, 100, 100); 
  text-align: left;
}

.wrapper {
  max-width: 60%;
  margin: 20px auto;
}

.header {
  width: 100%;
  min-width: 400px;
  padding: 20px;
}

.header__btn-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-group_criteria {
  display: flex;
  justify-content: flex-start;
}

[class^="header__btn_"] {
  margin-right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: rgb(101, 228, 101);
}

.header__btn_sort {
  margin-right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header__btn_sort:focus-visible {
  outline: none;
}

.sort__img {
  font-size: 20px;
  color: #fff;
}

.main {
  width: 100%;
  min-width: 400px;
  padding: 20px;
}

.list__item {
  min-width: 480px;
  padding: 10px;
  margin-bottom: 20px;
  list-style: none;
  background-color: rgb(213, 255, 213);
}

.item__name,
.item__region,
.item__area,
.item__independence,
.item__area_units {
  font-weight: bold;
}

.item__name {
  color: #000;
}

.item__title {
  color: rgb(101, 228, 101);
  line-height: 2;
  font-size: 16px;
  font-weight: bold;
}

.item__text {
  line-height: 1.2;
  color: rgb(100, 100, 100);
}